!!! 5
head
  title Trolley
  meta(charset='utf-8')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='google-code-prettify/prettify.css')
  script(src='jquery.min.js')
  script(src='js/bootstrap.js')
  script(src='google-code-prettify/prettify.js')
  script(src='box2d.min.js')
  script(src='trolley.js')
  script(src='main.js')
  style
    .play {
      position: absolute;
      margin-left: 0px;
      width: 300px;
      height: 200px;
    }
body
  .container
    header.page-header
      h1 Trolley - Box2D utility
    for example in examples
      .row
        .span6
          pre.prettyprint.lang-js.linenums
            ol(contenteditable=true)
              li
              for line in example
                li=line
        .span6
          button.btn.well.span5.play 
            | Run example
            i.icon-play
          canvas(width='300px', height='200px')
      hr
